<div class="container">
    <!-- Room Connected To -->
    <div class="room_connect_id">
        <h3>{{ title }}</h3>
    </div>
    <!-- End Room Connected To -->

    <!-- Room Body -->
    <div class="room_body">
        <ng-container *ngIf="messages.length === 0">
            <p class="no_messages">No Messages</p>
        </ng-container>
        <ng-container *ngIf="messages.length > 0">
            <div *ngFor="let message of messages" [ngClass]="message.type" class="chat">
                <p>{{ message.text }}</p>
                <small>20:08</small>
            </div>
        </ng-container>
    </div>
    <!-- End Room Body -->

    <!-- Room Control -->
    <div class="room_control">
        <div class="send_message">
            <input [(ngModel)]="message" type="text">
            <button (click)="sendMessage()">Send Message</button>
        </div>
        <div class="send_message">
            <input [(ngModel)]="room" type="text">
            <button (click)="joinRoom()">Join Room</button>
        </div>
    </div>
    <!-- End Room Control -->
</div>